.header{
    position: fixed;
    top:0%;
    width:100%;
    background-color: #2774F0;
    height: 50px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.header p {
    margin-left: 100px;
}